.curator {
  padding-top: 30px;
  padding-bottom: 90px;
  @include breakpoint(large) {
    padding-top: 90px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 86px;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 20px;
    @include breakpoint(large) {
      padding-bottom: 34px;
    }
  }
  .crt-carousel-pane {
    padding: 0;
    padding-top: 7px;
    @include breakpoint(568) {
      padding: 7px;
    }
    .crt-grid-post {
      padding: 10px;
    }
  }
  .crt-panel-next, .crt-panel-prev {
    top: auto;
    bottom: -90px;
    background-color: transparent;
    svg {
      display: none;
    }
    &:after {
      content: " ";
      width: 60px;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include breakpoint(medium) {
      bottom: auto;
      top: 50%;
      background-color: rgba(151,152,172,.27);
      svg {
        display: inline;
      }
      &:after {
        content: none;
        width: 0;
        height: 0;
      }
    }
  }
  .crt-controls-over .crt-panel-next {
    right: 30px;
    @include breakpoint(medium) {
      right: 10px;
    }
    &:after {
      background-image: url("../images/curator-next.svg");
    }
  }

  .crt-controls-over .crt-panel-prev {
    left: 30px;
    @include breakpoint(medium) {
      left: 10px;
    }
    &:after {
      background-image: url("../images/curator-prev.svg");
    }
  }
}