.curator {
  padding-top: 90px;
  @include breakpoint(large) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 86px;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 34px;
  }
  .crt-carousel-pane {
    padding: 7px;
    .crt-grid-post {
      padding: 10px;
    }
  }
}