p, .page-summary {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  @include letter-spacing(10);
}

p.one-em-mob-top {
  padding-top: 1em;
  @include breakpoint(medium) {
    padding-top: 0;
  }
}

ul, ol {
  max-width: 630px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  li {
    padding-left: 1em;
    position: relative;
    line-height: 1.47;
    @include letter-spacing(10);
    &:before {
      content: "\2013";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.accordion {
    margin-left: auto;
    margin-right: auto;
    .accordion-title {
      text-transform: uppercase;
      font-weight: $weight-bold;
    }
    li {
      &:before {
        content: "";
      }
    }
  }
  &.menu {
    li {
      padding-left: 0;
      &:before {
        content: "";
      }
    }
  }
}
.ritz-information {
  ul, ol {
    margin-bottom: 2em;
  }
}

.page-summary {
  font-size: 15px;
  line-height: 22px;
}

form p {
  max-width: none;
}

.grid-container {
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(medium) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(large) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.entry-content > h3 {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-table {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.grecaptcha-badge {
  visibility: hidden;
}