.single-post {
  h1 {
    max-width: 840px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
    letter-spacing: .05em;
  }
}