.wp-block-spacer {

  @include breakpoint(small) {
    &.is-style-responsive-large {
      height: 25px !important;
    }

    &.is-style-responsive-medium {
      height: 25px !important;
    }

    &.is-style-responsive-small {
      height: 25px !important;
    }
  }

  @include breakpoint(medium) {
    &.is-style-responsive-large {
      height: 35px !important;
    }

    &.is-style-responsive-medium {
      height: 35px !important;
    }

    &.is-style-responsive-small {
      height: 25px !important;
    }
  }

  @include breakpoint(large) {
    &.is-style-responsive-large {
      height: 100px !important;
    }

    &.is-style-responsive-medium {
      height: 50px !important;
    }

    &.is-style-responsive-small {
      height: 25px !important;
    }
  }
}