tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: transparent;
}

.wp-block-table {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 25px;
  @include breakpoint(medium) {
    padding-bottom: 35px;
  }
  @include breakpoint(large) {
    padding-bottom: 50px;
  }
  table {
    margin-bottom: 0;
    border: none;
  }
  &.is-style-stripes {
    border-bottom: none;
    tbody {
      border: none;
      tr:nth-child(odd) {
        background-color: $light-gray;
      }
    }
  }
}

.block-ritz-two-column-experience-block {
  table {
    border: none;
    tbody {
      border: none;
      tr:nth-child(odd) {
        background-color: $light-gray;
      }
    }
  }

}